.terraform
.venv
inventory.yaml
iac/terraform.tfvars
designs/
src/public/images/large/
src/public/images/medium/
src/public/images/small/
src/db/*.sqlite3
src/log/
src/tmp/
src/public/assets/
.DS_Store
src/passenger.*.pid
src/passenger.*.pid.lock
src/core
src/core.*
.claude/
