.terraform
.venv
inventory.yaml
iac/terraform.tfvars
*.tfplan
designs/
src/public/images/large/*
src/public/images/medium/*
src/public/images/small/*
!src/public/images/large/.keep
!src/public/images/medium/.keep
!src/public/images/small/.keep
src/db/*.sqlite3
src/db/*.sqlite3-journal
src/log/
src/tmp/
src/public/assets/
.DS_Store
src/passenger.*.pid
src/passenger.*.pid.lock
src/passenger.*.log
src/core
src/core.*
.claude/
.env
