<p class="intro">Bent u uw wachtwoord vergeten? U kunt met het "wachtwoord vergeten formulier" hieronder een nieuw wachtwoord aanvragen. Wanneer u uw voornaam en emailadres heeft ingevuld word er een nieuw email adres voor u aangemaakt, deze krijg u vervolgens naar uw email adres gestuurd.</p>

<% form_tag :action => 'reset_password' do %>

<div id="sign-in-form">
<div class="preview-balloon">

<div class="preview-balloon-content sign-in">
  <p>
    <label for="first_name">Voornaam</label><br />
    <%= text_field_tag :first_name, params[:first_name] %>
  </p>
  <p>
    <label for="email">E-mail</label><br />
    <%= text_field_tag :email, params[:email] %>
  </p>
</div>
<div class="preview-balloon-poster">  
  <p>
    <%= submit_tag "Reset mijn wachtwoord..." %><br />
  </p>
</div>

</div>
</div>

<% end %>

<br class="clear" />