<p class="intro">Welkom op DoedensOnline.nl. De website van de famillie Doedens. Om verder te gaan op deze website moet u eerst inloggen. Inloggen kunt u doen met het inlog formulier hieronder.</p>

<% form_tag :action => 'authenticate' do %>

<div id="sign-in-form">
<div class="preview-balloon">

<div class="preview-balloon-content sign-in">

  <p>
    <label for="first_name">Voornaam</label><br />
    <%= text_field_tag :first_name, params[:first_name], :class => 'text-box' %>
  </p>
  
  <p>
    <label for="password">Wachtwoord</label><br />
    <%= password_field_tag :password, params[:password], :class => 'text-box' %>
  </p>
  
  <p>
    <%= link_to 'Wachtwoord vergeten?', {:action => 'password_forgotten'}, :class=> 'read-on', :title => 'Vraag een nieuw wachtwoord aan' %>
  </p>
  
</div>
<div class="preview-balloon-poster">

  <p>
    <%= submit_tag "Log in...", :class=>'submit' %><br />
  </p>
   
</div>

</div>
</div>

<% end %>

<br class="clear" />