<p class="intro">Op deze pagina kunt u een nieuw nieuwtje aanmaken. Typ uw verhaal in het tekstvak hieronder en druk op "Plaats nieuwtje". Uw verhaal zal bovenaan de lijst met nieuwtjes worden geplaatst.</p>

<div id="edit-form">
<% form_for @news_item, :url => { :action => "create" } do |f| %>
  <p>
    <%= f.text_area :message, :rows => 18, :value => 'Hier uw tekst' %>
  </p>
  <p>
    <%= f.submit "Plaats nieuwtje" %>
  </p>
<% end %>
</div>
<%= link_to '&laquo; Terug naar het overzicht', {:action => 'index'}, :title => 'Keer terug naar het nieuwtjes overzicht', :class=>'back' %>