<p class="intro"><strong>Weet u zeker dat u dit nieuwtje wilt verwijderen?</strong></p>

<% form_tag :action => 'destroy' do %>
  <p>
    <%= hidden_field_tag 'id', @news_item.id %>
  </p>
  <p>
    <%= submit_tag "Ja, verwijderen" %><%= submit_tag "Nee, niet verwijderen" %>
  </p>
<% end %>
