{% extends 'home/base.html' %}

{% block head_title %}Nieuwtjes{% endblock %}
{% block body_title %}Nieuwtjes{% endblock %}

{% block content %}
    <div class="col">

        <div class="row">
            <div class="col mb-4">
                <a class="btn btn-primary pull-right" href="{% url 'posts:create' %}">Nieuwtje toevoegen</a>
            </div>
        </div>

        {% for post in page_obj %}
            {% with flip=forloop.counter|divisibleby:2 %}
                <div class="row {% if flip %}justify-content-end{% endif %}">
                    <div class="col-lg-8">

                        <div class="card mb-4">
                            <div class="card-body">
                            <h5 class="card-title {% if flip %}text-lg-right{% endif %}">{{ post.author.get_full_name }}</h6>
                                <p class="card-text">{{ post.message }}</p>
                                <hr>
                                <div class="button-group mb-0 {% if flip %}text-lg-right{% endif %}">
                                        <a href="{% url 'posts:detail' post.id %}" class="btn btn-link py-0 px-1">
                                            Bekijk/plaats reacties ({{ post.comment_set.count }})
                                        </a>
                                        {% if post.author == request.user %}
                                            <a href="{% url 'posts:update' post.id %}" class="btn btn-link py-0 px-1">
                                                Aanpassen
                                            </a>
                                            <a href="{% url 'posts:delete' post.id %}" class="btn btn-link py-0 px-1">
                                                Verwijderen
                                            </a>
                                        {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            {% endwith %}
        {% endfor %}

        <div class="row">
            <div class="col">
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                            <a class="page-link" href="{% if page_obj.has_previous %}?page=1{% else %}#{% endif %}">
                                &laquo;
                            </a>
                        </li>
                        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                            <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}">
                                &lt;
                            </a>
                        </li>

                        <li class="page-item disabled">
                            <a class="page-link" href="?page={{ page_obj.number }}">
                                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                            </a>
                        </li>

                        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                            <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">
                                &gt;
                            </a>
                        </li>
                        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                            <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.paginator.num_pages }}{% else %}#{% endif %}">
                                &raquo;
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>

{% endblock %}
