<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="nl"> 

  <head> 
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  </head>
  
  <body>

    <p>
      Beste <%=h @user.first_name %> <%=h @user.last_name %>,
    </p>
    <p>
      Er is voor uw account het "wachtwoord vergeten" formulier ingevuld. Dit betekend dat uw oude wachtwoord is vervangen door een nieuw automatisch gegenereerd wachtwoord. 
    </p>
    <p>
      <strong><%=h @pass %></strong> is uw nieuwe wachtwoord.
    </p>
    <p>
      Log met uw nieuwe wachtwoord in en wijzig (indien u het automatisch gegenereerde wachtwoord niet wilt gebruiken) vervolgens het nieuwe wachtwoord in een wachtwoord die u makkelijker kunt onthouden. 
    </p>
    <p>
      Met vriendelijke groet,
    </p>
    <p>
      DoedensOnline.nl
    </p>
    <p>
      PS. Dit is een automatisch gegenereed bericht.
    </p> 
    
 </body>
</html>