{% extends 'home/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-4 card mt-5">
        <div class="card-body">
            <h5 class="card-title">Welkom op DoedensOnline.nl.</h5>
            <p class="card-text">
                De website van de famillie Doedens. Om verder te gaan op deze
                website moet u eerst inloggen. Inloggen kunt u doen met het
                inlog formulier hieronder.
            </p>
            <hr>
            {% crispy form %}
        </div>
    </div>
</div>
{% endblock %}
