<p class="intro"><strong>Weet u zeker dat u deze reactie wilt verwijderen?</strong></p>

<% form_tag('/photo_album_comments/destroy', :method => 'post') do %>
  <p>
    <%= hidden_field_tag "id", @photo_album_comment.id %>
  </p>
  <p>
    <%= submit_tag "Ja, verwijderen" %><%= submit_tag "Nee, niet verwijderen" %>
  </p>
<% end %>