{% extends 'home/base.html' %}

{% load static %}

{% block head_title %}Home{% endblock %}
{% block body_title %}Home{% endblock %}

{% block content %}
    <div class="col">
        <p class="lead">
        Welkom op de website van de familie Doedens, DoedensOnline.nl. Hieronder vind u de drie laatst geplaatste nieuwtjes. U kunt via het hoofdmenu bovenaan de pagina naar de andere onderdelen van de site, of u kunt via een "lees verder" link bij een nieuwtje direct het hele bericht bekijken. Wilt u meer informatie over hoe de website werkt? Bekijk dan deze handleiding.
        </p>
        <img class="img-fluid mx-auto mt-5 d-block" src="{% static 'home/zandvaart.jpg' %}">
    </div>
{% endblock %}
