<div class="row justify-content-center">
    <div class="{{ shadow }} rounded {{ col }}">

        <div class="row text-center mb-4">
            <div class="col">
                <p class="text-muted">
                    {{ item.created_at }}
                </p>
                <{{ header }}>
                    {{ item.author.get_full_name }}
                </{{ header }}>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p style="line-height: 2em">{{ item.message }}</p>
            </div>
        </div>

        {% if show_tools %}
        <div class="row text-center mt-4">
            <div class="col">
                <div class="btn-group">
                    {% if detail_view %}
                    <a href="{% url detail_view item.id %}" class="btn btn-outline-primary">
                        Reacties ({{ item.comments.live.count }})
                    </a>
                    {% endif %}
                    {% if update_view %}
                    <a href="{% url update_view item.id %}" class="btn btn-outline-secondary">
                        Aanpassen
                    </a>
                    {% endif %}
                    {% if delete_view %}
                    <button data-toggle="modal" data-url="{% url delete_view item.id %}" data-target="#delete-confirm-modal" data-title="{{ delete_title }}" data-message="{{ delete_message }}" class="btn btn-outline-secondary">
                        Verwijderen
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
