{% extends 'home/base.html' %}

{% load cards %}

{% block content %}
    <div class="row">
        <div class="col mb-4">
            <a class="btn btn-primary pull-right" href="{% url 'posts:create' %}">Nieuwtje toevoegen</a>
        </div>
    </div>

    {% for post in posts %}
        {% cycle False True as flip silent %}
        {% post_card post request.user details_link=True flip=flip %}
    {% endfor %}

    <div class="row">
        <div class="col">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                        <a class="page-link" href="{% if page_obj.has_previous %}?page=1{% else %}#{% endif %}">
                            &laquo;
                        </a>
                    </li>
                    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                        <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}">
                            &lt;
                        </a>
                    </li>

                    <li class="page-item disabled">
                        <a class="page-link" href="?page={{ page_obj.number }}">
                            {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                        </a>
                    </li>

                    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                        <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">
                            &gt;
                        </a>
                    </li>
                    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                        <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.paginator.num_pages }}{% else %}#{% endif %}">
                            &raquo;
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
