{% extends 'home/base.html' %}

{% load cards %}

{% block content %}
    <div class="row">
        <div class="col">
            {% post_card_form form object %}
        </div>
    </div>
    <div class="row align-items-center p-5">

            {% for image in object.images.all %}
            <div class="col-2 text-center">
            <img src="{{ image.image.thumbnail.url }}"
                class="img-fluid img-thumbnail m-3"
                style="max-height: 100px; max-width: 100px;"
                />
            </div>
            {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <form enctype='multipart/form-data' method="post" action="{% url "posts:add_images" object.pk %}">
                {% csrf_token %}
                <input type="file" multiple="true" name="images">
                <input type="submit">
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        enableQuill("id_message");
    </script>
{% endblock %}
